<layout name="layout" />
<div class="main-div">
    <form name="main_form" method="POST" action="__SELF__" enctype="multipart/form-data">
        <table cellspacing="1" cellpadding="3" width="100%">
            <tr>
                <td class="label">角色名称：</td>
                <td>
                    <input  type="text" name="role_name" value="" />
                </td>
            </tr>
            <tr>
                <td class="label">权限列表：</td>
                <td>
                <!-- <?php var_dump($priData);?> -->
                    <?php foreach($priData as $k => $v){?>
                        <?=str_repeat('-',8*$v['level']);?>
                        <input level_id="<?=$v['level']?>" type="checkbox" name="pri_id[]" value="<?=$v['id']?>">
                        <?=$v['pri_name']?><br>
                    <?php }?>
                </td>
            </tr>
            <tr>
                <td colspan="99" align="center">
                    <input type="submit" class="button" value=" 确定 " />
                    <input type="reset" class="button" value=" 重置 " />
                </td>
            </tr>
        </table>
    </form>
</div>


<script>
$(':checkbox').click(function(){
    // alert($(this).attr('checked'));  //这个固有属性，建议使用prop方法，否则用attr的话返回的都是undefined
    // var level_id = $(this).attr('level_id');
    var temp_level_id = level_id = $(this).attr('level_id');

    if($(this).prop('checked')){
        //所有子权限也选中
        $(this).nextAll(':checkbox').each(function(k,v){
            if($(v).attr('level_id') > level_id){
                $(v).prop('checked','checked');
            }else{
                //jquery的each循环中，若想跳出循环，只能用return false
                return false;
            }
        });
        //所有上级权限也选中
        $(this).prevAll(':checkbox').each(function(k,v){
            if($(v).attr('level_id') < temp_level_id){
                $(v).prop('checked','checked');
                // --level_id;
                --temp_level_id;
            }
        });

    }else{
        //所有子权限也取消
        $(this).nextAll(':checkbox').each(function(k,v){
            if($(v).attr('level_id') > level_id){
                $(v).removeAttr('checked');
            }else{
                return false;
            }
        });
    } 
});
</script>