<layout name="Common/layout" /> 

<!-- 引入这个页面特有的CSS和JS -->
<link rel="stylesheet" href="__PUBLIC__/Home/style/goods.css" type="text/css">
<link rel="stylesheet" href="__PUBLIC__/Home/style/common.css" type="text/css">
<link rel="stylesheet" href="__PUBLIC__/Home/style/jqzoom.css" type="text/css">
<script type="text/javascript" src="js/goods.js"></script>
<script type="text/javascript" src="__PUBLIC__/Home/js/jqzoom-core.js"></script>

<!-- jqzoom 效果 -->
<script type="text/javascript">
    $(function(){
        $('.jqzoom').jqzoom({
            zoomType: 'standard',
            lens:true,
            preloadImages: false,
            alwaysOn:false,
            title:false,
            zoomWidth:400,
            zoomHeight:400
        });
    })
</script>
<include file="Common/nav" />
<?php session('returnUrl','__SELF__');?>

<!-- 商品页面主体 start -->
    <div class="main w1210 mt10 bc">
        <!-- 面包屑导航 start -->
        <div class="breadcrumb">
            <h2>当前位置：
            <?php $catPath = array_reverse($catPath);
            foreach($catPath as $k => $v){?>
            <a href="<?=U('Search/cat_search?cat_id='.$v['id'],'',false)?>"><?=$v['cat_name']?></a> > 
            <?php }?> 
            <?=$goodsInfo['goods_name']?></h2>
        </div>
        <!-- 面包屑导航 end -->
        
        <!-- 主体页面左侧内容 start -->
        <div class="goods_left fl">
            <!-- 相关分类 start -->
            <div class="related_cat leftbar mt10">
                <h2><strong>相关分类</strong></h2>
                <div class="leftbar_wrap">
                    <ul>
                        <li><a href="">笔记本</a></li>
                        <li><a href="">超极本</a></li>
                        <li><a href="">平板电脑</a></li>
                    </ul>
                </div>
            </div>
            <!-- 相关分类 end -->

            <!-- 相关品牌 start -->
            <div class="related_cat leftbar mt10">
                <h2><strong>同类品牌</strong></h2>
                <div class="leftbar_wrap">
                    <ul>
                        <li><a href="">D-Link</a></li>
                        <li><a href="">戴尔</a></li>
                        <li><a href="">惠普</a></li>
                        <li><a href="">苹果</a></li>
                        <li><a href="">华硕</a></li>
                        <li><a href="">宏基</a></li>
                        <li><a href="">神舟</a></li>
                    </ul>
                </div>
            </div>
            <!-- 相关品牌 end -->

            <!-- 热销排行 start -->
            <div class="hotgoods leftbar mt10">
                <h2><strong>热销排行榜</strong></h2>
                <div class="leftbar_wrap">
                    <ul>
                        <li></li>
                    </ul>
                </div>
            </div>
            <!-- 热销排行 end -->


            <!-- 浏览过该商品的人还浏览了  start 注：因为和list页面newgoods样式相同，故加入了该class -->
            <div class="related_view newgoods leftbar mt10">
                <h2><strong>浏览了该商品的用户还浏览了</strong></h2>
                <div class="leftbar_wrap">
                    <ul>
                        <li>
                            <dl>
                                <dt><a href=""><img src="images/relate_view1.jpg" alt="" /></a></dt>
                                <dd><a href="">ThinkPad E431(62771A7) 14英寸笔记本电脑 (i5-3230 4G 1TB 2G独显 蓝牙 win8)</a></dd>
                                <dd><strong>￥5199.00</strong></dd>
                            </dl>
                        </li>

                        <li>
                            <dl>
                                <dt><a href=""><img src="images/relate_view2.jpg" alt="" /></a></dt>
                                <dd><a href="">ThinkPad X230i(2306-3V9） 12.5英寸笔记本电脑 （i3-3120M 4GB 500GB 7200转 蓝牙 摄像头 Win8）</a></dd>
                                <dd><strong>￥5199.00</strong></dd>
                            </dl>
                        </li>

                        <li>
                            <dl>
                                <dt><a href=""><img src="images/relate_view3.jpg" alt="" /></a></dt>
                                <dd><a href="">T联想（Lenovo） Yoga13 II-Pro 13.3英寸超极本 （i5-4200U 4G 128G固态硬盘 摄像头 蓝牙 Win8）晧月银</a></dd>
                                <dd><strong>￥7999.00</strong></dd>
                            </dl>
                        </li>

                        <li>
                            <dl>
                                <dt><a href=""><img src="images/relate_view4.jpg" alt="" /></a></dt>
                                <dd><a href="">联想（Lenovo） Y510p 15.6英寸笔记本电脑（i5-4200M 4G 1T 2G独显 摄像头 DVD刻录 Win8）黑色</a></dd>
                                <dd><strong>￥6199.00</strong></dd>
                            </dl>
                        </li>

                        <li class="last">
                            <dl>
                                <dt><a href=""><img src="images/relate_view5.jpg" alt="" /></a></dt>
                                <dd><a href="">ThinkPad E530c(33662D0) 15.6英寸笔记本电脑 （i5-3210M 4G 500G NV610M 1G独显 摄像头 Win8）</a></dd>
                                <dd><strong>￥4399.00</strong></dd>
                            </dl>
                        </li>                   
                    </ul>
                </div>
            </div>
            <!-- 浏览过该商品的人还浏览了  end -->

            <!-- 最近浏览 start -->
            <div class="viewd leftbar mt10">
                <h2><a href="">清空</a><strong>最近浏览过的商品</strong></h2>
                <div class="leftbar_wrap" id="display_history">
                </div>
            </div>
            <!-- 最近浏览 end -->

        </div>
        <!-- 主体页面左侧内容 end -->
        
        <!-- 商品信息内容 start -->
        <div class="goods_content fl mt10 ml10">
            <!-- 商品概要信息 start -->
            <div class="summary">
                <h3><strong><?php echo $goodsInfo['goods_name'];?></strong></h3>
                
                <!-- 图片预览区域 start -->
                <div class="preview fl">
                    <div class="midpic">
                        <a href="<?php echo $viewPath.$goodsInfo['mbig_logo']?>" class="jqzoom" rel="gal1">   <!-- 第一幅图片的大图 class 和 rel属性不能更改 -->
                            <?=showImage($goodsInfo['big_logo']);?>              <!-- 第一幅图片的中图 -->
                        </a>
                    </div>
    
                    <!--使用说明：此处的预览图效果有三种类型的图片，大图，中图，和小图，取得图片之后，分配到模板的时候，把第一幅图片分配到 上面的midpic 中，其中大图分配到 a 标签的href属性，中图分配到 img 的src上。 下面的smallpic 则表示小图区域，格式固定，在 a 标签的 rel属性中，分别指定了中图（smallimage）和大图（largeimage），img标签则显示小图，按此格式循环生成即可，但在第一个li上，要加上cur类，同时在第一个li 的a标签中，添加类 zoomThumbActive  -->

                    <div class="smallpic">
                        <a href="javascript:;" id="backward" class="off"></a>
                        <a href="javascript:;" id="forward" class="on"></a>
                        <div class="smallpic_wrap">
                            <ul>
                                <li class="cur">
                                    <a class="zoomThumbActive" href="javascript:void(0);" rel="{gallery: 'gal1', smallimage: '<?php echo $viewPath.$goodsInfo['big_logo']?>',largeimage: '<?php echo $viewPath.$goodsInfo['mbig_logo']?>'}"><img src="<?php echo $viewPath.$goodsInfo['sm_logo']?>"></a>
                                </li>
                                <?php foreach($gpData as $k=>$v){?>
                                <li>
                                    <a href="javascript:void(0);" rel="{gallery: 'gal1', smallimage: '<?php echo $viewPath.$v['mid_pic']?>',largeimage: '<?php echo $viewPath.$v['big_pic']?>'}"><img src="<?php echo $viewPath.$v['sm_pic']?>"></a>
                                </li>
                                <?php }?>
                            </ul>
                        </div>
                        
                    </div>
                </div>
                <!-- 图片预览区域 end -->

                <!-- 商品基本信息区域 start -->
                <div class="goodsinfo fl ml10">
                    <ul>
                        <li><span>商品编号： </span><?=$goodsInfo['id']?></li>
                        <li class="market_price"><span>定价：</span><em><?=$goodsInfo['market_price']?></em></li>
                        <li class="shop_price"><span>本店价：</span> <strong><?=$goodsInfo['shop_price']?></strong> <a href="">(降价通知)</a></li>
                        <li><span>会员价：</span>
                            <strong>
                            <div>
                                <table broder="0" cellpadding="5" cellspacing="5" width="20%" style="font-size:10px;" >
                                    <?php foreach($mpData as $k=>$v){?>
                                    <tr>
                                        <td><?=$v['level_name']?>：</td>
                                        <td><?=$v['price']?></td>
                                    </tr>
                                    <?php }?>
                                </table>
                            </div> 
                            </strong>
                        </li>
                        <div style="clear:both;"></div>
                        <li style="line-height:25px;" class="shop_price">
                            <span>购买价：</span> <strong style="font-size:25px;"><span style="color:red;" id="real_price"></span></strong> <a href=""></a>
                        </li>
                        <div style="clear:both;"></div>
                        <li><span>上架时间：</span><?=date('Y-m-d',strtotime($goodsInfo['addtime']))?></li>
                        <li class="star star<?=$haoping?>"><span>商品评分：</span> <strong></strong><a href="">(已有<?=$comNum?>人评价)</a></li> <!-- 此处的星级切换css即可 默认为5星 star4 表示4星 star3 表示3星 star2表示2星 star1表示1星 -->
                    </ul>
                    <form action="<?=U('Cart/add');?>" method="post" class="choose">
                        <input type="hidden" value="<?=$goodsInfo['id']?>" name="goods_id">
                        <ul>
                            <?php foreach($multiAttr as $k=>$v){?>
                            <li class="product">
                                <dl>
                                    <dt><?=$k?></dt>
                                    <dd>
                                        <?php foreach($v as $k1=>$v1){?>
                                        <a <?php if($k1 == 0) echo 'class="selected"';?> href="javascript:getStock();"><?=$v1['attr_value']?> <input type="radio" name="goods_attr_id[<?=$v1['attr_id']?>]" value="<?=$v1['id']?>" <?php if($k1 == 0) echo 'checked="checked"';?> /></a>
                                        <?php }?>
                                    </dd>
                                </dl>
                            </li>
                            <?php }?>

                            <script>
                                //取出当前商品属性的库存量
                                function getStock(){
                                    var arr = [];
                                    $('.product').each(function(k,v){
                                        arr[k] = $(v).find("input[type='radio']:checked").val();
                                    });
                                    var _arr = arr.sort();
                                    var goods_attr_id = _arr.join();
                                    //根据商品id商品属性id查询库存
                                    var data = {goods_id:<?php echo $_GET['id']?>,goods_attr_id:goods_attr_id};
                                    $.post('<?=U("Member/ajaxGetGoodNum")?>',data,function(msg){
                                        if(msg > 0)
                                            $('#show_stock').text(msg);
                                        else
                                            $('#show_stock').text('没有库存！');
                                    });
                                 }
                                 getStock();
                            </script>

                            <li style="padding-left:10px;">
                               <table>
                                   <tr>
                                       <td>库存量：</td>
                                       <td align="left"><span id="show_stock" style="text-align:left;"></span></td>
                                   </tr>
                               </table> 
                            </li>
                            <li>
                                <dl>
                                    <dt>购买数量：</dt>
                                    <dd>
                                        <a href="javascript:;" id="reduce_num"></a>
                                        <input type="text" name="goods_number" value="1" class="amount"/>
                                        <a href="javascript:;" id="add_num"></a>
                                    </dd>
                                </dl>
                            </li>

                            <li>
                                <dl>
                                    <dt>&nbsp;</dt>
                                    <dd>
                                        <input type="submit" value="" class="add_btn" />
                                    </dd>
                                </dl>
                            </li>

                        </ul>
                    </form>
                </div>
                <!-- 商品基本信息区域 end -->
            </div>
            <!-- 商品概要信息 end -->
            
            <div style="clear:both;"></div>

            <!-- 商品详情 start -->
            <div class="detail">
                <div class="detail_hd">
                    <ul>
                        <li class="first"><span>商品介绍</span></li>
                        <li class="on"><span>商品评价</span></li>
                        <li><span>售后保障</span></li>
                    </ul>
                </div>
                <div class="detail_bd">
                    <!-- 商品介绍 start -->
                    <div class="introduce detail_div none">
                        <div class="attr mt15">
                            <ul>
                                <?php foreach($uniAttr as $k=>$v){?>
                                <li><span><?=$v['attr_name']?></span>：<?=$v['attr_value']?></li>
                                <?php }?>
                            </ul>
                        </div>

                        <div class="desc mt10">
                            <!-- 此处的内容 一般是通过在线编辑器添加保存到数据库，然后直接从数据库中读出 -->
                            <?=$goodsInfo['goods_desc'];?>
                        </div>
                    </div>
                    <!-- 商品介绍 end -->
                    
                    <!-- 商品评论 start -->
                    <div class="comment detail_div mt10">
                        <div class="comment_summary">
                            <div class="rate fl">
                                <strong><em class="hao"></em>%</strong> <br />
                                <span>好评度</span>
                            </div>
                            <div class="percent fl">
                                <dl>
                                    <dt>好评（<span class="hao"></span>%）</dt>
                                    <dd><div id="hao_width"></div></dd>
                                </dl>
                                <dl>
                                    <dt>中评（<span class="zhong"></span>%）</dt>
                                    <dd><div id="zhong_width"></div></dd>
                                </dl>
                                <dl>
                                    <dt>差评（<span class="cha"></span>%）</dt>
                                    <dd><div id="cha_width"></div></dd>
                                </dl>
                            </div>
                            <div class="buyer fl">
                                <dl>
                                    <dt>买家印象：</dt>
                                </dl>
                            </div>
                        </div>

                        <div id="comment_continer">
                           <div class="comment_items mt10">
                               <div class="user_pic">
                                   <dl>
                                       <dt><a href=""><img src="images/user1.gif" alt="" /></a></dt>
                                       <dd><a href="">乖乖</a></dd>
                                   </dl>
                               </div>
                               <div class="item">
                                   <div class="title">
                                       <span>2013-03-11 22:18</span>
                                       <strong class="star star5"></strong> <!-- star5表示5星级 start4表示4星级，以此类推 -->
                                   </div>
                                   <div class="comment_content">
                                       <dl>
                                           <dt>心得：</dt>
                                           <dd>东西挺好，挺满意的！</dd>
                                       </dl>
                                       <dl>
                                           <dt>优点：</dt>
                                           <dd>反应速度开，散热性能好</dd>
                                       </dl>
                                       <dl>
                                           <dt>不足：</dt>
                                           <dd>暂时还没发现缺点哦！</dd>
                                       </dl>
                                       <dl>
                                           <dt>购买日期：</dt>
                                           <dd>2013-11-24</dd>
                                       </dl>
                                   </div>
                                   <div class="btns">
                                       <a href="" class="reply">回复(0)</a>
                                       <a href="" class="useful">有用(0)</a>
                                   </div>
                               </div>
                               <div class="cornor"></div>
                           </div> 
                        </div>
                        

                        

                        <!-- 分页信息 start -->
                        <div class="page mt20"></div>
                        <!-- 分页信息 end -->

                        <!--  评论表单 start-->
                        <div class="comment_form mt20">
                            <form action="" id="comment_form">
                                <input type="hidden" name="goods_id" value="<?=$goodsInfo['id']?>">
                                <ul>
                                    <li>
                                        <label for=""> 评分：</label>
                                        <input type="radio" name="star" value="5" checked="checked" /> <strong class="star star5"></strong>
                                        <input type="radio" name="star" value="4" /> <strong class="star star4"></strong>
                                        <input type="radio" name="star" value="3" /> <strong class="star star3"></strong>
                                        <input type="radio" name="star" value="2" /> <strong class="star star2"></strong>
                                        <input type="radio" name="star" value="1" /> <strong class="star star1"></strong>
                                    </li>

                                    <li>
                                        <label for="">评价内容：</label>
                                        <textarea name="content" id="" cols="" rows=""></textarea>
                                    </li>
                                    <li id="yx_chk_lst"></li>
                                    <li id="buyer_yx">
                                        <label for="">买家印象：</label>
                                        <input type="text" size="40" value="" name="buyer_yx"> 多个印象用,号隔开
                                    </li>
                                    <li>
                                        <label for="">&nbsp;</label>
                                        <input type="button" value="提交评论"  class="comment_btn"/>                                        
                                    </li>
                                </ul>
                            </form>
                            <script>
                                
                                $('.comment_btn').click(function(){
                                    var data = $('#comment_form').serialize();
                                    // 让评论跳转到第一页
                                    // getComment(1);

                                    $.post('<?=U("Comment/add")?>',data,function(msg){
                                        if(msg.status == 1){
                                            $('#comment_form').trigger('reset');

                                            var html = '<div class="comment_items mt10 none"><div class="user_pic"><dl><dt><a href=""><img src="'+msg.info.face+'" alt="" /></a></dt><dd><a href="">'+msg.info.username+'</a></dd></dl></div><div class="item"><div class="title"><span>'+msg.info.addtime+'</span><strong class="star star'+msg.info.star+'"></strong> <!-- star5表示5星级 start4表示4星级，以此类推 --></div><div class="comment_content">'+msg.info.content+'</div><div class="btns"><a href="javascript:doReply(this,'+msg.info.id+')" class="reply">回复(0)</a><a href="" class="useful">有用(0)</a></div><div class="reply_comment"></div><ul id="reply_container"></ul></div><div class="cornor"></div></div>';
                                            //一定要先转换成jquery对象，这样才能保证prepend和fadeIn方法作用的是同一个对象
                                            //第一种是创建新元素，此时并不存在document的dom树里，所以也不会显示，
                                            //第二种是从dom树中查询获取已存在的元素
                                            /*$(html);$('.comment_items')*/

                                            $('#comment_continer').prepend(html);

                                            html = $('.comment_items:eq(0)');
// console.log(html);
                                            $('body').animate({
                                                'scrollTop':'750px'
                                            },1000,function(){
                                                // alert(444);
                                                html.fadeIn(3000);
                                            });

                                        }else{

                                            if(msg.info == '请先登录！'){
                                                // 打开
                                                $( "#dialog" ).dialog( "open" );
                                            }else{
                                                alert(msg.info);
                                            }
                                            
                                        }
                                    },'json');    
                                });
                                
                            </script>
                        </div>
                        <!--  评论表单 end-->
                        
                    </div>
                    <!-- 商品评论 end -->

                    <!-- 售后保障 start -->
                    <div class="after_sale mt15 none detail_div">
                        <div>
                            <p>本产品全国联保，享受三包服务，质保期为：一年质保 <br />如因质量问题或故障，凭厂商维修中心或特约维修点的质量检测证明，享受7日内退货，15日内换货，15日以上在质保期内享受免费保修等三包服务！</p>
                            <p>售后服务电话：800-898-9006 <br />品牌官方网站：http://www.lenovo.com.cn/</p>

                        </div>

                        <div>
                            <h3>服务承诺：</h3>
                            <p>本商城向您保证所售商品均为正品行货，京东自营商品自带机打发票，与商品一起寄送。凭质保证书及京东商城发票，可享受全国联保服务（奢侈品、钟表除外；奢侈品、钟表由本商城联系保修，享受法定三包售后服务），与您亲临商场选购的商品享受相同的质量保证。本商城还为您提供具有竞争力的商品价格和运费政策，请您放心购买！</p> 
                            
                            <p>注：因厂家会在没有任何提前通知的情况下更改产品包装、产地或者一些附件，本司不能确保客户收到的货物与商城图片、产地、附件说明完全一致。只能确保为原厂正货！并且保证与当时市场上同样主流新品一致。若本商城没有及时更新，请大家谅解！</p>

                        </div>
                        
                        <div>
                            <h3>权利声明：</h3>
                            <p>本商城上的所有商品信息、客户评价、商品咨询、网友讨论等内容，是京东商城重要的经营资源，未经许可，禁止非法转载使用。</p>
                            <p>注：本站商品信息均来自于厂商，其真实性、准确性和合法性由信息拥有者（厂商）负责。本站不提供任何保证，并不承担任何法律责任。</p>

                        </div>
                    </div>
                    <!-- 售后保障 end -->

                </div>
            </div>
            <!-- 商品详情 end -->

            
        </div>
        <!-- 商品信息内容 end -->
        

    </div>
    <!-- 商品页面主体 end -->
<include file="Common/help" />

<script>
    var viewPath = '<?php echo $viewPath;?>';

    var data = {id:'<?=$goodsInfo['id']?>'};
    //根据当前商品id取出该商品相关信息
    $.post('<?=U('Index/displayHistory')?>',data,function(msg){
        var html = '';
        $(msg).each(function(k,v){
            html += "<dl><dt><a href='<?=U('Index/goods');?>/id/"+v.id+"'><img src='"+viewPath+v.mid_logo+"' alt='' /></a></dt><dd><a href=''>"+v.goods_name+"</a></dd></dl>";
        });
        $('#display_history').html(html);
    },'json');
    //取出商品实际价格
    $.post('<?=U('Index/ajaxGetRealPrice')?>',data,function(msg){
        $('#real_price').text(msg);
    });

    
    
    
</script>

<script src="__PUBLIC__/jquery-ui-1.12.0.custom/jquery-ui.js"></script>
<link rel="stylesheet" href="__PUBLIC__/jquery-ui-1.12.0.custom/jquery-ui.css">
<div id="dialog" title="用户登录">
    <form action="" id="ajax_login">
        <ul>
            <li>
                <label for="">用户名：</label>
                <input type="text" class="txt" name="username" />
            </li><br>
            <li>
                <label for="">密码：&nbsp;&nbsp;&nbsp;&nbsp;</label>
                <input type="password" class="txt" name="password" />
                <a href="">忘记密码?</a>
            </li><br>
            <li class="checkcode">
                <label for="">验证码：</label>
                <input type="text"  name="captcha" /><br><br>
                <div>
                <img id="captcha_img" style="cursor:pointer;padding-left:50px;" src="<?php echo U('Member/buildVerify'); ?>" />
                <span>看不清？<a href="javascript:change()">换一张</a></span>
                </div>
            </li>
        </ul>
    </form>
</div>
<style>
    .reply_container{margin-top: 30px;}
    .reply_container li{min-height: 50px; background-color: #99ECBA; padding: 5px;margin-top: 5px}
</style>
<script>
    function change(){
        $('#captcha_img').prop('src','<?php echo U('Member/buildVerify'); ?>?_$='+Math.random());
    }
    //配置dialog对话框
    var test = $( "#dialog" ).dialog({
        resizeable:false,
        position : {at: "center"},
        modal:true,
        autoOpen: false,
        width: 400,
        buttons: [
            {
                text: "登陆",
                click: function() {
                    $.post('<?=U("Member/login")?>',$('#ajax_login').serialize(),function(msg){
                        if(msg.status == 1){
                            is_login = 1;   //登陆成功，修改状态
                            $('#dialog').dialog( "close" );     //这里如果使用$(this)this指针就会指向ajax对象了
                        }else{
                            alert(msg.info);
                        }
                    },'json');
                }
            },
            {
                text: "取消",
                click: function() {
                    $( this ).dialog( "close" );
                }
            }
        ]
    });

    /*******************ajax获取某一页的评论**********************/
    function getComment(page){
        $.get('<?=U("Comment/ajaxGetComment?id=".I('get.id'),'',false)?>/p/'+page,'',function(msg){
            if(page == 1){
                //将服务器返回的好评和印象数据在视图中显示
                $('.hao').text(msg.hao);        //好评
                $('#hao_width').css('width',msg.hao + 'px');
                $('.zhong').text(msg.zhong);
                $('#zhong_width').css('width',msg.zhong + 'px');
                $('.cha').text(msg.cha);
                $('#cha_width').css('width',msg.cha + 'px');
                var yxhtml = '';
                var yx_chkhtml = '';
                $(msg.yinxiang).each(function(k,v){     //印象数据
                    yxhtml += '<dd><span>'+v.yx_name+'</span><em>('+v.yx_count+')</em></dd>';
                    yx_chkhtml += '<input type="checkbox" name="yx_chk[]" value="'+v.id+'">'+v.yx_name+' ';
                });
                if(yxhtml)
                    $('.buyer dl').html(yxhtml); //显示印象
                if(yx_chkhtml)
                    $('#yx_chk_lst').html('<label for="">选择印象：</label>'+yx_chkhtml); //印象复选框
                
            }
            is_login = msg.m_id;

            var html = '';
            $(msg.data).each(function(k,v){
                //循环回复数据
                liHtml = '';
                $(v.reply).each(function(k1,v1){
                    liHtml += '<li><img style="float:right;" src="'+msg.viewPath+v1.face+'" width="30"><span style="font-weight:bold;">'+v1.username+'</span>于 '+v1.addtime+' 回复说：<p>'+v1.content+'</p></li>';
                });
                html += '<div class="comment_items mt10"><div class="user_pic"><dl><dt><a href=""><img src="'+msg.viewPath+v.face+'" alt="" /></a></dt><dd><a href="">'+v.username+'</a></dd></dl></div><div class="item"><div class="title"><span>'+v.addtime+'</span><strong class="star star'+v.star+'"></strong> <!-- star5表示5星级 start4表示4星级，以此类推 --></div><div class="comment_content">'+v.content+'</div><div class="btns" ><a href="javascript:void(0)" onclick="doReply(this,'+v.id+')" class="reply">回复('+v.reply_count+')</a><a href="javascript:void(0);" onclick="addUseful(this,'+v.id+')" class="useful">有用('+v.click_count+')</a></div><div class="reply_comment"></div><ul class="reply_container">'+liHtml+'</ul></div><div class="cornor"></div></div>';
                
            });
            // 每页都重新覆盖一次评论数据
            $('#comment_continer').html(html);

            //生成分页字符串
            var pageCount = msg.pageCount;
            var pageStr = '';

            for(var i = 1;i <= pageCount;i++){
                if(page == i){
                    var cls = 'class="cur"';
                }else{
                    var cls = '';
                }
                pageStr += '<a '+cls+' style="margin:0 5px;" href="javascript:getComment('+i+')">'+i+'</a>';
            }
            $('.page').html(pageStr);

        },'json');
    }
    getComment(1);  //默认显示第一页数据
    /**********评论有用**********/
    function addUseful(a,commentId){
        var str = $(a).text();
        str = str.substr(3);
        str = str.replace(')','');
        var num = parseInt(str);
        $.get('<?=U("Comment/ajaxAddUseful",'',false)?>?comment_id='+commentId,'',function(msg){
            if(msg){
                var newCount = num+1;
                $(a).text('有用('+newCount+')');
            }
        });
    }

    var is_login = null;
    /****************评论回复******************/
    function doReply(a,commentId){
        if(is_login == null){
            $('#dialog').dialog( "open" );
        }
        if($(a).parent().next().html() == ''){
            var formHtml = '<br/><br/><hr style="clear:both;margin:10px 0;" /><form ><input type="hidden" name="comment_id" value="'+commentId+'"/><textarea name="content" value="" rows="6" style="width:100%;"></textarea><br/><input onclick="submitReply(this)" type="button" value="回复" />  <input onclick="$(this).parent().parent().html(\'\')" type="button" value="取消" /></from>';
            $(a).parent().next().html(formHtml);
        }else{
            $(a).parent().next().html('');
        }    
    }
    function submitReply(btn){
        $.post('<?=U('Comment/reply')?>',$(btn).parent().serialize(),function(msg){
            if(msg.status == 0){
                if(msg.info == '请先登录！'){
                    $( "#dialog" ).dialog( "open" );
                }else{
                    alert(msg.info);
                }  
            }else{
                var replyHtml = '<li><img style="float:right;" src="'+msg.info.face+'" width="30"><span style="font-weight:bold;">'+msg.info.username+'</span>于 '+msg.info.addtime+' 回复说：<p>'+msg.info.content+'</p></li>'
                $(btn).parent().parent().next('ul').prepend(replyHtml);
                $(btn).parent().parent().html('');
            }
        },'json');
    }
    //为回复按钮绑定事件,页面新添的元素不能直接用事件绑定，要写在ready函数里
    /*$('.cur').click(function(){
        alert(11);
        // if($(this).parent().next().html()){
        //     $(this).parent().next().html('');
        // }else{
        //     var id = $(this).attr('data-id')
        //     doReply(this,id);
        // }
    });*/
</script>